@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.aboutme {
  @include flex(column, flex-start, flex-start);
  margin: 10px;
  width: 100vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;

  .aboutme__info {
    @include flex(row, flex-start, flex-start);
    padding: 30px 50px;

    div {
      width: 540px;
      position: relative;

      .profession {
        @include fontlight(16px, $color-grey);
      }

      .name {
        @include fontlight(52px, $color-white-hard);
        line-height: 1.1em;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      .info {
        @include fontregular(14px, $color-grey);
        margin-top: 10px;
        letter-spacing: 1px;
        padding-right: 40px;
      }
    }

    .image {
      width: 500px;

      img {
        width: 100%;
        opacity: 0.6;
        border-radius: 6px;
      }
    }
  }

  section {
    @include flex(row, flex-start, flex-start);
    padding: 0 50px;

    .services {
      width: 540px;
      padding-right: 50px;
    }

    .recommendations {
      margin-top: -200px;
      width: 300px;
      h3 {
        @include fontsemibold(21px, $color-white-hard);
        text-decoration: underline;
        text-decoration-color: $color-blue;
        margin-bottom: 20px;
      }
    }
  }
}
