@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.aboutme {
  @include flex(column, flex-start, flex-start);
  margin: 10px;
  width: 100vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;

  .aboutme__info {
    @include flex(row, flex-start, flex-start);
    padding: 30px 50px;

    div {
      width: 540px;
      position: relative;

      .profession {
        @include fontlight(16px, $color-grey);
      }

      .name {
        @include fontlight(52px, $color-white-hard);
        line-height: 1.1em;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      .info {
        @include fontregular(14px, $color-grey);
        margin-top: 10px;
        letter-spacing: 1px;
        padding-right: 40px;
      }

      .btn {
        text-decoration: none;
        cursor: pointer;
        @include fontregular(14px, $color-white-hard);
        @include shadow(0px 0px 10px 5px rgba(30, 36, 41, 0.75));
        min-height: 40px;
        padding: 13px 28px;
        background-color: $color-primary_3;
        border: none;
        margin-top: 20px;
        margin-right: 10px;
        transition: all 0.5s;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $color-hover;
        }
      }
      .btn--blue {
        background-color: $color-blue;
      }
    }

    .image {
      width: 500px;

      img {
        width: 100%;
        opacity: 0.6;
        border-radius: 6px;
      }
    }
  }

  section {
    @include flex(row, flex-start, flex-start);
    padding: 0 50px;

    .whatido {
      width: 540px;
      padding-right: 50px;

      h3 {
        @include fontsemibold(21px, $color-white-hard);
        text-decoration: underline;
        text-decoration-color: $color-blue;
        margin-bottom: 20px;
      }

      .whatido__desc {
        @include flex(row, flex-start, flex-start);
        margin-bottom: 20px;

        .icon {
          @include flexcenter();
          color: $color-blue;
          background-color: $color-primary_3;
          min-width: 50px;
          height: 50px;
          border-radius: 6px;
          margin-right: 20px;
        }

        h4 {
          @include fontsemibold(18px, $color-white-hard);
          margin-bottom: 10px;
        }

        p {
          @include fontregular(13px, $color-grey);
          letter-spacing: 1px;
        }
      }
    }

    .recommendations {
      margin-top: -200px;
      width: 300px;
      h3 {
        @include fontsemibold(21px, $color-white-hard);
        text-decoration: underline;
        text-decoration-color: $color-blue;
        margin-bottom: 20px;
      }
    }
  }
}
