@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.aboutme {
  @include flex(row, center, flex-start);
  width: 78vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;

  @include for-phone-only {
    @include flex(column, center, center);
    height: 100%;
    margin-left: 0px;
    padding: 30px;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 60px;
    overflow-x: hidden;
  }

  .aboutme__info {
    width: 50%;
    position: relative;

    @include for-phone-only {
      width: 100%;
    }

    .profession {
      @include fontlight(18px, $color-grey);
      letter-spacing: 1px;
    }

    .image {
      display: none;
      @include for-phone-only {
        @include flexcenter();

        .photo {
          border-radius: 50%;
          margin: 20px 0 0 0;
          width: 50%;
        }
      }
    }

    .name {
      @include fontlight(52px, $color-white-hard);
      line-height: 1.1em;
      margin-top: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    .info {
      @include fontregular(14px, $color-grey);
      margin-top: 10px;
      letter-spacing: 1px;
      padding-right: 60px;
      text-align: justify;

      @include for-phone-only {
        padding: 0;
      }
    }

    .buttons {
      margin-top: 30px;

      @include for-phone-only {
        margin-top: 0px;

        @include flex(row, space-around, flex-start);
        .btn {
          margin: 30px 0;
        }
      }
    }

    .MuiSnackbarContent-root {
      background-color: $color-blue;
      letter-spacing: 1px;
      font-family: $font-secondary;
      position: absolute;
      right: 0vw;
      top: 0vh;

      @include for-phone-only {
        display: none;
      }
    }
  }
}

.services {
  width: 50%;
  @include flex(column, flex-start, flex-start);

  @include for-phone-only {
    width: 100%;
  }

  .image {
    width: 100%;
    margin-bottom: 20px;
    max-width: 600px;

    img {
      width: 90%;
      opacity: 0.6;
      border-radius: 6px;

      @include for-phone-only {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
