@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.formcontrol {
  @include flex(row, center, flex-start);

  @include for-phone-only {
    @include flex(column, center, center);

    input {
      min-width: 350px;
    }
  }

  .inputs {
    @include flex(column, center, center);
    position: relative;

    .btn--green,
    .btn--red,
    .btn--blue {
      width: 300px;
      align-self: flex-start;
      margin: 10px 0 0 10px;

      @include for-phone-only {
        position: absolute;
        top: 450px;
        width: 350px;
      }
    }

    .btn--green {
      background-color: $color-green;
    }

    .btn--red {
      background-color: $color-red;
    }
  }

  textarea {
    min-height: 240px;
    min-width: 470px;
    resize: none;

    @include for-phone-only {
      min-width: 350px;
    }
  }
}
