@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.services__description {
  @include flex(row, flex-start, flex-start);
  margin-bottom: 20px;
  width: 100%;

  .icon {
    @include flexcenter();
    color: $color-blue;
    background-color: $color-primary_3;
    min-width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 20px;
  }

  h4 {
    @include fontsemibold(18px, $color-white-hard);
    margin-bottom: 10px;
  }

  p {
    @include fontregular(13px, $color-grey);
    letter-spacing: 1px;
  }
}
