@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.formation {
  @include flex(row, flex-start, flex-start);
  width: 1120px;
  height: 900px;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;

  @include for-phone-only {
    @include flex(column, center, center);
    height: 100%;
    margin-left: 0px;
    overflow: visible;
    padding: 30px;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }

  .experience,
  .education {
    width: 50%;
    padding-right: 50px;

    @include for-phone-only {
      width: 100% !important;
      padding: 0;
      margin-bottom: 20px;
    }

    .container {
      border-left: 1px solid $color-hover;
      border-bottom: 1px solid $color-hover;
      padding: 0px 30px 10px 30px;
      position: relative;

      @include for-phone-only {
        padding: 0px 0px 10px 20px;
      }

      .data {
        @include flex(row, flex-start, center);
        position: absolute;
        top: -35px;
        left: -20px;

        @include for-phone-only {
          top: -60px;
          left: -5px;
        }

        .date {
          border: 2px solid $color-blue;
          padding: 3px 15px;
        }

        .place {
          @include fontregular(18px, $color-grey);
          letter-spacing: 1px;
          margin-left: 20px;
        }
      }

      .position {
        letter-spacing: 1.2px;
        margin: 60px 0 10px 0;
        padding-top: 10px;

        @include for-phone-only {
          margin: 80px 0 10px 0;
        }
      }

      .description {
        @include fontregular(14px, $color-grey);
        letter-spacing: 1.2px;
      }
    }
  }

  .education {
    width: 50%;
    padding-right: 30px;
  }
}
