@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.recommendations__target {
  @include flex(column, flex-end, flex-start);
  padding: 30px 30px 30px 0;
  width: 470px;
  border-radius: 6px;
  background-color: $color-primary_3;
  margin-bottom: 20px;
  position: relative;
  margin-left: 30px;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-5px);
    @include shadow(0px 0px 5px 5px $color-primary_5);
    transition: all 0.3s;
  }

  img {
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: -40px;
    top: -10px;
  }

  p {
    margin-left: 50px;
    letter-spacing: 1px;
    line-height: 1.3em;
  }

  .recommendations__desc {
    @include fontregular(14px, $color-grey);
  }

  .recommendations__name {
    @include fontsemibold(14px, $color-white-hard);
    padding-top: 10px;
  }

  .recommendations__pos {
    @include fontregular(11px, $color-blue);
  }
}
