@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.recommendations__target {
  @include flex(column, flex-end, flex-start);
  padding: 30px 30px 30px 0;
  width: 470px;
  border-radius: 6px;
  background-color: $color-primary_3;
  margin: 0px 0px 20px 30px;
  position: relative;
  transition: all 0.3s;
  position: relative;

  @include for-phone-only {
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
  }

  &:hover {
    @include effect();
  }

  img {
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: -40px;
    top: -10px;

    @include for-phone-only {
      left: -20px;
    }
  }

  p {
    margin-left: 50px;
    letter-spacing: 1px;
    line-height: 1.3em;
  }

  .recommendations__desc {
    @include fontregular(14px, $color-grey);
    text-indent: 20px;
    position: relative;
  }

  .recommendations__name {
    @include fontsemibold(14px, $color-white-hard);
    padding-top: 10px;
  }

  .recommendations__pos {
    @include fontregular(11px, $color-blue);
  }

  .quotes {
    color: $color-grey;
    position: absolute;
    font-size: 60px;
    opacity: 0.2;
    bottom: -30px;
    right: 0px;
  }

  .reverse {
    position: absolute;
    top: -15px;
    left: -10px;
    opacity: 0.3;
    font-size: 30px;
    transform: rotate(180deg);
  }
}
