@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.projects {
  @include flex(row, flex-start, flex-start);
  margin: 10px;
  width: 80%;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 10px 30px;
}
