@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.projects {
  @include flex(column, flex-start, flex-start);
  margin: 10px;
  width: 80%;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;
}
