@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.contact {
  @include flex(column, flex-start, center);
  margin: 10px;
  width: 78vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;

  @include for-phone-only {
    @include flex(column, center, center);
    height: 100%;
    margin-left: 0px;
    overflow: visible;
    padding: 30px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin: 0px 0px 60px 0px;
    padding-bottom: 100px;
  }

  .contact__info {
    @include flex(column, center, center);
    padding: 30px 50px;
    width: 1080px;

    @include for-phone-only {
      padding: 0;
    }

    h1 {
      @include fontbold(52px, $color-white-hard);
    }

    .line {
      width: 160px;
    }

    .contact__target {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 0 100px;
      margin: 30px 0;

      @include for-phone-only {
        @include flex(row, center, center);
        padding: 0;
      }

      .target {
        cursor: pointer;
        @include flex(column, center, center);
        border-radius: 6px;
        background-color: $color-primary_3;
        transition: all 0.3s;
        width: 250px;
        height: 100px;
        @include fontregular(18px, $color-white-hard);
        text-decoration: none;
        font-family: $font-secondary;
        line-height: 36px;

        @include for-phone-only {
          width: 100px;
          margin: 0 10px;

          p {
            display: none;
          }
        }

        &:hover {
          transform: translateX(-5px);
          @include effect();
          transition: all 0.3s;
        }

        .icon {
          height: 20px;
          margin-bottom: 20px;
          color: $color-blue;
        }
      }
    }

    .formcontrol {
      @include flex(row, center, flex-start);

      @include for-phone-only {
        @include flex(column, center, center);

        input {
          min-width: 350px;
        }
      }

      .inputs {
        @include flex(column, center, center);

        .btn--blue {
          width: 180px;
          align-self: flex-start;
          margin: 10px 0 0 10px;

          @include for-phone-only {
            position: absolute;
            top: 770px;
            margin: 30px 0 0 10px;
          }
        }
      }

      textarea {
        max-height: 250px;
        min-width: 470px;
        resize: none;

        @include for-phone-only {
          min-width: 350px;
        }
      }
    }
  }
}
