@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.contact {
  @include flex(column, flex-start, flex-start);
  margin: 10px;
  width: 100vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;

  .contact__info {
    @include flex(column, center, center);
    padding: 30px 50px;
    width: 1080px;

    h1 {
      @include fontbold(52px, $color-white-hard);
    }

    .line {
      width: 160px;
    }

    .contact__target {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 0 100px;
      margin: 30px 0;
      .target {
        cursor: pointer;
        @include flex(column, center, center);
        border-radius: 6px;
        background-color: $color-primary_3;
        transition: all 0.3s;
        width: 250px;
        height: 100px;
        @include fontregular(18px, $color-white-hard);
        text-decoration: none;

        &:hover {
          transform: translateX(-5px);
          @include shadow(0px 0px 6px 4px $color-primary_1);
          transition: all 0.3s;
        }

        .icon {
          height: 20px;
          margin-bottom: 20px;
          color: $color-blue;
        }
      }
    }

    .formcontrol {
      @include flex(row, center, flex-start);

      .inputs {
        @include flex(column, center, center);

        .btn--blue {
          width: 160px;
          align-self: flex-start;
        }
      }

      textarea {
        max-height: 250px;
        min-width: 470px;
        resize: none;
      }
    }
  }
}
