@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.contact {
  @include flex(column, flex-start, flex-start);
  margin: 10px;
  width: 100vw;
  height: 98vh;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;

  .contact__info {
    @include flex(column, center, center);
    padding: 30px 50px;
    width: 1080px;

    h3 {
      @include fontsemibold(21px, $color-white-hard);
      text-decoration: underline;
      text-decoration-color: $color-blue;
    }

    h1 {
      @include fontbold(52px, $color-white-hard);
    }

    .line {
      width: 100px;
      background-color: $color-grey;
    }

    .contact__target {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 0 100px;
      margin: 30px 0;
      .target {
        cursor: pointer;
        @include flex(column, center, center);
        border-radius: 6px;
        background-color: $color-primary_3;
        transition: all 0.3s;
        width: 250px;
        height: 100px;
        @include fontregular(18px, $color-white-hard);
        text-decoration: none;

        &:hover {
          transform: translateX(-5px);
          @include shadow(0px 0px 6px 4px $color-primary_1);
          transition: all 0.3s;
        }

        .icon {
          height: 20px;
          margin-bottom: 20px;
          color: $color-blue;
        }
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    .formcontrol {
      @include flex(row, center, flex-start);

      .inputs {
        @include flex(column, center, center);

        input {
          @include fontlight(14px, $color-grey);
          padding: 10px;
          margin: 10px;
          border: 2px solid $color-primary_3;
          background-color: $color-primary_4;
          width: 300px;

          &:focus {
            outline: none;
          }
        }
        .btn {
          width: 160px;
          cursor: pointer;
          @include fontregular(14px, $color-white-hard);
          @include shadow(0px 0px 10px 5px rgba(30, 36, 41, 0.75));
          min-height: 40px;
          padding: 13px 28px;
          background-color: $color-blue;
          border: none;
          margin-top: 20px;
          margin-right: 10px;
          transition: all 0.5s;
          align-self: flex-start;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: $color-hover;
          }
        }
      }

      textarea {
        padding: 10px;
        @include fontlight(14px, $color-grey);
        margin: 10px;
        border: 2px solid $color-primary_3;
        background-color: $color-primary_4;
        width: 300px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
