$color-primary_1: rgb(57, 66, 76);
$color-primary_2: rgb(45, 51, 56);
$color-primary_3: rgb(49, 55, 60);
$color-primary_4: rgb(32, 38, 43);
$color-primary_5: rgb(23, 27, 31);
$color-blue: rgb(0, 124, 237);
$color-blue-hard: rgb(6, 0, 255);
$color-hover: rgb(68, 68, 68);
$color-white-hard: rgb(245, 245, 245);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(166, 166, 166);
