@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Armata&display=swap");

$font-primary: "Poppins", sans-serif;
$font-secondary: "Armata", sans-serif;
