@import "./fonts";

@mixin fontlight($size, $color) {
  font-family: $font-primary;
  font-weight: 300;
  font-size: $size;
  color: $color;
}

@mixin fontregular($size, $color) {
  font-family: $font-primary;
  font-weight: 400;
  font-size: $size;
  color: $color;
}

@mixin fontsemibold($size, $color) {
  font-family: $font-primary;
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin fontbold($size, $color) {
  font-family: $font-primary;
  font-weight: 700;
  font-size: $size;
  color: $color;
}

@mixin flexcenter() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin effect() {
  transform: translateY(-5px);
  @include shadow(0px 0px 5px 5px $color-primary_5);
  transition: all 0.3s;
}
