@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.card {
  margin: 20px;
  background-color: $color-primary_3 !important;
  color: $color-white-hard;
  max-width: 320px;
  max-height: 335px;
  position: relative;

  &:hover {
    @include effect();
  }

  @include for-phone-only {
    max-width: 100%;
    margin: 20px 0px;
  }

  h4 {
    @include fontsemibold(18px, $color-white-hard);
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: $color-blue;
  }

  p {
    @include fontregular(13px, $color-grey);
    letter-spacing: 1px;
    min-height: 120px;
  }
  .card__actions {
    @include flex(row, space-around, center);

    a {
      @include flexcenter();
    }
  }

  .technology {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $color-primary_5;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    font-size: 40px;
    color: $color-blue;
  }
}
