@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.resume {
  @include flex(row, flex-start, flex-start);
  width: 1120px;
  height: 900px;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;

  .skills {
    @include flex(column, flex-start, flex-start);
    width: 50%;
    padding-right: 40px;
    @include fontregular(14px, $color-white-hard);
    font-family: $font-secondary;

    .soft-skills {
      width: 100%;
      margin-bottom: 20px;

      .skills-bars {
        @include flex(row, space-between, center);
        width: 100%;
        margin-bottom: 10px;

        progress {
          width: 70%;
          height: 30px;
        }
      }
    }

    .hard-skills {
      .chip {
        @include fontregular(14px, $color-white-hard);
        font-family: $font-secondary;
        margin: 5px;

        .MuiChip-icon {
          font-size: 30px;
          padding: 5px;
        }
      }
    }
  }
}
