@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.resume {
  @include flex(row, flex-start, flex-start);
  width: 1120px;
  height: 900px;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;

  @include for-phone-only {
    @include flex(column, center, center);
    height: 100%;
    margin-left: 0px;
    overflow: visible;
    padding: 30px;
    position: relative;
    width: 100%;
  }

  .skills {
    @include flex(column, flex-start, flex-start);
    width: 50%;
    padding-right: 50px;
    @include fontregular(14px, $color-white-hard);
    font-family: $font-secondary;

    @include for-phone-only {
      width: 100%;
      padding: 0;
    }

    .soft-skills {
      width: 100%;
      margin-bottom: 20px;

      .skills-bars {
        @include flex(column, center, flex-start);
        width: 100%;
        margin-bottom: 10px;

        label {
          width: 100%;
          @include flex(row, space-between, space-between);

          div {
            color: $color-grey;
          }
        }

        progress {
          width: 100%;
          height: 15px;
        }
      }
    }

    .hard-skills {
      .chip {
        @include fontregular(14px, $color-white-hard);
        font-family: $font-secondary;
        margin: 5px;
        background-color: $color-blue;

        .MuiChip-icon {
          font-size: 30px;
          padding: 5px;
        }
      }
    }
  }
}
