@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/fonts";

.resume {
  @include flex(row, flex-start, flex-start);
  width: 1120px;
  height: 900px;
  margin-left: 320px;
  position: fixed;
  overflow: hidden;
  color: $color-white-hard;
  padding: 30px 50px;

  .skills {
    @include flex(column, flex-start, flex-start);
    width: 50%;

    .soft-skills {
      margin-bottom: 20px;
      .progress {
        width: 300px;
      }
    }

    .hard-skills {
      @include flex(column, flex-start, flex-start);
      padding-right: 20px;
    }
  }
}
